@import "tailwindcss";
@source "../src";
@plugin "daisyui" {
  themes: forest --default;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /**
   * Drawers
   */

  --search-drawer-z: 10;

  /**
   * Navs
   */

  --nav-height-base: 64px;
  --nav-height-sm: 72px;
  --nav-height-md: 78px;
  --nav-height-lg: 87px;

  /**
   * Typography Design System
   * Scale: Fluid 640px -> 1280px
   */

  /* Fonts */
  --font-quicksand: "Quicksand", sans-serif;

  /* Headline 1: 48px -> 98px */
  --text-h1: clamp(3rem, 1.25rem + 4.375vw, 6.125rem);
  --text-h1--letter-spacing: -0.015em;
  --text-h1--font-weight: 800;
  --text-h1--line-height: 1.1;

  /* Headline 2: 36px -> 61px */
  --text-h2: clamp(2.25rem, 1.3125rem + 2.34vw, 3.8125rem);
  --text-h2--letter-spacing: -0.008em;
  --text-h2--font-weight: 800;
  --text-h2--line-height: 1.1;

  /* Headline 3: 30px -> 49px */
  --text-h3: clamp(1.875rem, 1.15rem + 1.8vw, 3.0625rem);
  --text-h3--letter-spacing: 0em;
  --text-h3--font-weight: 700;
  --text-h3--line-height: 1.1;

  /* Headline 4: 26px -> 35px */
  --text-h4: clamp(1.625rem, 1.15rem + 0.9vw, 2.1875rem);
  --text-h4--letter-spacing: 0.007em;
  --text-h4--font-weight: 700;

  /* Headline 5: 20px -> 24px */
  --text-h5: clamp(1.25rem, 1rem + 0.625vw, 1.5rem);
  --text-h5--letter-spacing: 0em;
  --text-h5--font-weight: 600;

  /* Headline 6: 18px -> 20px */
  --text-h6: clamp(1.125rem, 1rem + 0.3125vw, 1.25rem);
  --text-h6--letter-spacing: 0.0075em;
  --text-h6--font-weight: 600;

  /* --- Subtitles --- */
  --text-subtitle1: 1rem; /* 16px */
  --text-subtitle1--letter-spacing: 0.009em;

  --text-subtitle2: 0.875rem; /* 14px */
  --text-subtitle2--letter-spacing: 0.007em;

  /* --- Body & UI --- */
  --text-large: 1.125rem; /* 18px */
  --text-large--letter-spacing: 0.031em;

  --text-body1: 1rem; /* 16px */
  --text-body1--letter-spacing: 0.031em;

  --text-body2: 0.875rem; /* 14px */
  --text-body2--letter-spacing: 0.017em;

  --text-button: 0.875rem; /* 14px */
  --text-button--letter-spacing: 0.089em;

  --text-caption: 0.75rem; /* 12px */
  --text-caption--letter-spacing: 0.033em;

  --text-overline: 0.625rem; /* 10px */
  --text-overline--letter-spacing: 0.15em;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-quicksand);
    min-height: 100svh;
  }
}

@layer components {
  // Buttons

  .btn-soft.btn-neutral {
    @apply text-neutral-content! bg-neutral/7! hover:bg-neutral!;
  }

  .btn-ghost.btn-neutral {
    @apply text-neutral-content! hover:bg-neutral!;
  }

  .btn-ghost.btn-neutral.btn-active {
    @apply bg-neutral! hover:bg-neutral/70!;
  }

  // Drawers

  /* Drawer.css */
  .drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: flex-end; /* Change to flex-start for a left-side drawer */
    z-index: 1000;
    transition: opacity 0.3s ease;
    background: white;
  }

  .drawer-content {
    width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* transform: translateX(100%); */
    transition: transform 0.3s ease-in-out;
    background: white;
  }

  /* .drawer-content.open {
    transform: translateX(0);
  } */

  // Inputs

  .text-input-button-color {
    @apply text-[color-mix(in_oklab,var(--color-base-content)_20%,transparent)];
  }

  .text-input-suggestions-container {
    @apply absolute top-full left-0 w-full mt-2 bg-base-100 border border-base-300 rounded-lg shadow-xl z-50 max-h-[50vh] overflow-auto;
  }

  .text-input-suggestions-item {
    @apply block p-4 text-left border-b border-base-200 last:border-0 w-full;
  }

  .text-input-suggestions-link {
    @apply block p-4 hover:bg-base-200 transition-colors text-left border-b border-base-200 last:border-0 w-full;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
  }

  .remove-input-decorations {
    @apply [&::-webkit-search-cancel-button]:appearance-none [&::-webkit-search-decoration]:appearance-none;
  }
}
